
@{
    ViewBag.Title = "Options";
}

<h2>Options</h2>
<div class="flex-column">
    <h3>@Html.ActionLink(SharedResources.GlobalStrings.Language, "Language")</h3>
    <h3>@Html.ActionLink(SharedResources.GlobalStrings.ConnectionSettings, "ConnectionSettings")</h3>
</div>


