<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@SharedResources.GlobalStrings.Error</title>
</head>
<body>
    <hgroup>
        <h1>@SharedResources.GlobalStrings.UnknownErrorTitle</h1>
        <h2>@SharedResources.GlobalStrings.RequestProcessingError</h2>
    </hgroup>
</body>
</html>
